@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-secondary: var(--secondary);
  --color-dim: var(--dim);
  --color-dim-2: var(--dim-2);
  /* success, warning, danger */
  --color-success: var(--success);
  --color-error: var(--error);
  --color-danger: var(--danger);

  --color-success-fill: var(--success-fill);
  --color-error-fill: var(--error-fill);
  --color-danger-fill: var(--danger-fill);

  --color-txt: var(--txt);
  --color-border: var(--border)
}

@layer base {
  :root {
    --background: #FFFFFF;
    --secondary: #03DAC5;
    --txt: #000000;
    --dim: #ececec;
    --dim-2: rgba(245, 245, 245);
    --border: #dadada;


    /* success, warning, danger */
    --success: #70EFDE;
    --success-fill: #70EFDE70;
    --error: #ffb23f;
    --error-fill: #ffb23f70;
    --danger: #CF6679;
    --danger-fill: #CF667970;
    color: var(--txt);
  }

  .dark {
    --background: #121212;
    --secondary: #03DAC5;
    --txt: #ffffff;
    --dim: #222222;
    --dim-2: rgba(26, 26, 26);
    --border: #272727;

    /* success, warning, danger */
    --success: #70EFDE;
    --success-fill: #70EFDE70;
    --error: #ffb23f;
    --error-fill: #ffb23f70;
    --danger: #CF6679;
    --danger-fill: #CF667970;


    color: var(--txt);
  }

}


body {
  color: var(--txt)
}